body{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
nav ul {
    list-style: none;
    background-color: grey;
    text-align: center;
    padding: 0;
    margin: 0;
    box-shadow: 10px 10px 10px;
    box-sizing: border-box;
}

nav li {
    font-size: 1.2em;
    line-height :40px;
    height : 40px;
    display :inline-block;
    margin: 2.5%

}
nav a {
    text-decoration: none;
    color:#fff;
    display: block;
    
    
}
nav a:hover{
    background-color: #fff;
    color: grey;
}
.card{
    float: left;
    width:20%;
    margin-left:10%;
   
}
.card a{
    text-align: center;
    
}
img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
}
h2{
    text-align: center;
}